* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-dark: #0F172A;
    --primary-blue: #0A3865;
    --accent-yellow: #EF9F27;
    --glass-bg: rgba(30, 41, 59, 0.7);
}

.container-utama {
    background-color: var(--primary-blue);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}